
/* ======================compare================== */

.comparing{
	//margin-left: 10vw;
	margin-top: 20px;
	margin-bottom: 35px;
	&__header{
		position: relative;
	}

	&__footer{
		position: relative;
	}

	

	&__area{
		&:after{
			content: "";
			clear: both;
			display: block;
		}

		white-space: nowrap;
		overflow-x: visible;
		overflow-y: visible;
		
		.comp-card{
			white-space: normal;
		}
	}

	&__col-f{
		width: 300px;
		display: inline-block;
		//float: left;
		//height: 50vh;
		position: relative;
		vertical-align: top;
		//background-color: pink;
	}

	&__col{
		display: inline-block;
		width: 300px;
		margin-left: -4px;

		vertical-align: top;
		//float: left;
		//height: 100vh;
		//background-color: forestgreen;
	}

	&__tabs{
		padding-left: 15px;
		padding-top: 15px;
		height: 48px;
		box-sizing: border-box;
	}

	&__tab{
		display: inline-block;
		font-family: "ProximaNovaBold";
		font-size: 14px;
		color: #9d9d9d;
		padding-bottom: 10px;
		border-bottom: 3px solid transparent;
		&--active{
			border-bottom: 3px solid #7fabc6;
			color: #555555;
		}

		&:hover{
			color: #555555;
		}
	}

	&__diff{
		margin-left: 30px;
	}

	&__options{
		color: $bluestyle;
		font-family: "ProximaNovaBold";

		.comparing__param{
			padding-left: 30px;
		}
	}

	&__param{
		height: 61px;
		display: -webkit-flex;
		display: flex;
		-webkit-align-items: center;
		align-items: center;
		padding-left: 15px;
		&:nth-child(2n+1){
			background-color: #fff;
		}
	}

	&__table{
		font-size: 14px;
		white-space: normal;
	}
}

.comp-add{
	background-color: #FFF;
	padding: 0 45px;
	border: $bd2;
	font-size: 14px;
	height: 285px;
	display: block;
	&__btn{
		color: $bluestyle;
		text-align: center;
		border: $bd;
		display: block;
		width: 130px;
		height: 130px;
		margin: 0 auto;
		margin-top: 20px;
		margin-bottom: 5px;

		&:hover{
			border-color: #555555;
			color: #555555;
			.comp-add__plus{
				color: #555555;
			}
		}
	}

	&__add{
		margin-top: -30px;
	}

	&__plus{
		color: #cfcfcf;
		font-size: 90px;
		transition: 0.3s;
	}

	&__link{
		display: block;
		color: $bluestyle;
		text-align: center;
		padding: 1px 0;
	}

	&__text{
		color: #555555;
	}

	&__call{
		display: block;
		font-size: 18px;
		padding: 8px 0;
		width: 100%;
		margin-top: 10px;
		margin-bottom: 17px;
	}
}

/* ======================.comp-card================== */
.comp-card{
	border: $bd2;
	background-color: #FFF;
	height: 333px;
	position: relative;
	.review{
		display: -webkit-flex;
		display: flex;
		-webkit-box-pack: justify;
		-webkit-justify-content: space-between;
		justify-content: space-between;
	}

	&__close{
		position: absolute;
		top: 10px;
		right: 10px;
	}

	.good-v__foot2{
		display: block;
		padding: 20px 13px;
	}

	.good-short .good-title__code{
		padding-top: 5px;
	}

	.good-short .pict-box{
		height: 95px;
	}

	.good-v__foot3{
		padding-bottom: 25px;
	}

	.good-v__foot{
		padding: 5px 13px 10px;
	}

	.good-short__name{
		 overflow: hidden;
		 height: 38px;
		 padding-right: 10px
	}
}

/* ===================================================== */
/* =====================RESPONSIVE============= */
/* =====================940======================= */

@media screen and (max-width: 1170px){
	.comparing{
		overflow: auto;

		&__area{
			overflow-x: visible;
		}

		&__col-f{
			width: 320px;
		}

		&__col{
			width: 320px;
		}
	}
}

/* =============================744======================= */
@media screen and (max-width: 959px){
	.comparing{
		
		&__col-f{
			width: 250px;
		}

		&__col{
			width: 310px;
		}

		&__diff{
			margin-left: 10px;
		}

		&__param{
			height: 51px;
		}
	}

	.comp-add{
		padding: 0 20px;
	}
}

/* =============================320======================= */
@media screen and (max-width: 743px){
	
}