*{padding: 0; margin: 0; outline: none}
ul{list-style-type: none}
a{text-decoration: none; -webkit-transition: .35s;
-moz-transition: .35s;
-ms-transition: .35s;
-o-transition: .35s;
transition: .35s;}
button{
	-webkit-transition: .35s;
	-moz-transition: .35s;
	-ms-transition: .35s;
	-o-transition: .35s;
	transition: .35s;
	background-color: transparent;
	border: none;
	cursor: pointer;
}

html, body{
	font-family: $font-stack;
	font-size: $primary-fz;
	color: $primary-color;
	line-height: $primary-l-heigth;
	background-color: #f0f0f0;
}

a{
	color: $primary-color;
}

input{
	background: none;
	padding: $inputpadding;
	border: $inputborder;
	border-radius: $inputradius;
}

.btn--blue{
	text-transform: uppercase;
	text-align: center;
	color: #fff;
	border-radius: 2px;
	background-color: #7fabc6;

	&:hover{
		background-color: #80b8db;
		box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.1);

	}
}

.pict-box{
		display: -webkit-flex;
		display: flex;
		-webkit-box-pack: justify;
		-webkit-justify-content: center;
		justify-content: center;
		-webkit-align-items: center;
		align-items: center;
	img{
		max-width: 100%;
		max-height: 100%;
		width: auto;
		height: auto;
	}
}

.btn--red{
	text-transform: uppercase;
	text-align: center;
	color: #fff;
	border-radius: 2px;
	background-color: #d1383e;

	&:hover{
			background-color: #fa594f
	}
}


.container{
	width: 100%;
	max-width:  1200px;
	padding: 0 15px;
	box-sizing: border-box;
	margin: 0 auto;
	position: relative;
	&:after{
			content: "";
			clear: both;
			display: block;
	}

	&--nonpd{
		padding: 0;
	}
}

.btn{
	text-align: center;
	font-size: $btn-font-size;
	color: $btn-color;
	width: $btn-width;
	display: block;
	border-radius: $btn-radius;
	padding: $btn-pd;
	background-color: $btn-bgc;
	border: $btn-border;
	cursor: pointer;
	text-transform: $btn-text-transf;
	&:hover{
		background-color: $btn-bgc-h;
		color: $btn-color-h;
	}
}

.title{
	text-align: center;
	text-transform: uppercase;
	font-size: $title-font-size;
	color: $title-color;
	font-family: "ProximaNovaLight";

	&--long{
		text-align: center;
		text-transform: uppercase;
		font-size: $title-font-size;
		color: $title-color;
		font-family: "ProximaNovaLight";
		position: relative;
		&:hover{
			color: #7fabc6;
		}
		
		&:before{
				position: absolute;
	    	content: '';
	    	height: 1px;
	    	top: 20px;
				background-color: $lightgrey ;
				width: 440px ;
				left: -0 ;
			}

			&:after{
				position: absolute;
    		content: '';
    		height: 1px;
    		top: 20px;
    		left: 63%;
				background-color: $lightgrey ;
				width: 315px ;
			}
		}

	span{
			position: relative;
			&:before{
				position: absolute;
				content: '';
				width: 40px;
				height: 1px;
				background-color:#5f5f5f;
				top: 49%;
				left: -59px; 
			}

			&:after{
				position: absolute;
				content: '';
				width: 40px;
				height: 1px;
				background-color:#5f5f5f;
				top: 49%;
				right: -59px; 
			}
		}
	
}

.p{
	line-height: 1.286;
	margin-bottom: 15px;
}

.good-title{
	&__code{
		font-size: 10px;
		text-decoration: underline;
		font-family: "ProximaNovaLight";
	}

	&__name{
		font-size: 24px;
    font-family: "ProximaNovaBold";
	}

	&__desc{
		font-family: "ProximaNovaLight";
		font-size: 14px;
	}
}

.primal-price{
	font-family: "ProximaNovaBold";
	font-size: 24px;
	span{
		font-family: "ProximaNovaLight";
		font-size: 14px;
	}
}

.review{
	display: -webkit-flex;
	display: flex;
	-webkit-align-items: center;
	align-items: center;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	justify-content: space-between;

	&__link{
		
		text-decoration: underline;
		padding-left: 7px;
		font-size: 12px;
		a{
			color: #9d9d9d;
		}
	}

	&__number{
		background-color: $bluestyle;
		width: 17px;
		height: 17px;
		border-radius: 10px;
		text-align: center;
		line-height: 17px;
		display: inline-block;
		color: #fff;
		margin-left: 5px;
		font-size: 10px;
	}

	.rate_star{
		font-size: 15px;
	}
}


.slick{
	&-disabled{
		opacity: .3;
	}

	&-dots{
		bottom: 5px;
		li{ 
			button{
				width: 10px;
				height: 10px;
				&:before{
					width: 10px;
					height: 10px;
					content: '';
					background-color: #c5c5c5;
					border-radius: 10px;
					opacity: 1;
				}
			}

			&.slick-active{
				button{
					&:before{
						background-color: $bluestyle;
					}
				}
			}
		}
	}
}

.guarantee﻿-link{
	font-family: "ProximaNovaBold";
	color: $bluestyle;
	font-size: 12px;
	text-decoration: none;
}

.compare{
	font-size: 12px;
	text-align: right;
	position: relative;
	top: -2px;

	&__add{
		opacity: 0.6;

		img{
			position: relative;
			top: 3px;
		}
	}

	&__open{
		display: none;
		color: $bluestyle;
		img{
			position: relative;
			top: 3px;
		}
	}
}

.progress{

	&__row{
		display: -webkit-flex;
		display: flex;
		-webkit-align-items: center;
		align-items: center;

	}

	&__name{
		text-align: right;
		width: 50%;
		padding-right: 22px;
	}

	&__line{
		width: 50%;
		//padding-left: 5px;
	}

	&__num{
		height: 3px;
		background-color: $bluestyle;
	}

	&__qual{
		width: 100%;
	}

	&__economic{
		width: 70%;
	}

	&__conv{
		width: 30%;
	}

	&__reliab{
		width: 40%;
	}
}

.label{
	width: 65px;
	color: #fff;
	text-align: center;
	text-transform: uppercase;
	padding: 4px 0;
	font-size: 12px;
	position: absolute;
	top: -2px;
	left: 20px;

	&--sale{
		display: none;
		background-color: #d24a43;
	}

	&--new{
		background-color: $bluestyle;
	}
}

.good-status{
	position: absolute;
	top: 6px;
	color: #7c7c7c;
	right: 20px;
	font-size: 12px;
	&--ok{
		display: none;
		color: $bluestyle;
	}

	&--no{

		img{
			display: none;

		}
	}

	img{
		position: relative;
		top: 3px;
	}
}