*{padding: 0; margin: 0; outline: none}
ul{list-style-type: none}
a{text-decoration: none; -webkit-transition: .35s;
-moz-transition: .35s;
-ms-transition: .35s;
-o-transition: .35s;
transition: .35s;}
button{
	-webkit-transition: .35s;
	-moz-transition: .35s;
	-ms-transition: .35s;
	-o-transition: .35s;
	transition: .35s;
	background-color: transparent;
	border: none;
	cursor: pointer;
}

html, body{
	font-family: $font-stack;
	font-size: $primary-fz;
	color: $primary-color;
	line-height: $primary-l-heigth;
	background-color: #f0f0f0;
}

a{
	color: $primary-color;
}

input, textarea{
	resize: none;
	display: block;
	background: none;
	padding: $inputpadding;
	border: $bd;
	border-radius: $inputradius;
}

h1{
	font-weight: 100;
	text-transform: uppercase;
  font-size: 30px;
  color: #5f5f5f;
  font-family: "ProximaNovaLight";
}

h2{
	font-weight: 100;
	font-family: "ProximaNovaLight";
	color: $bluestyle;
	font-size: 18px;
	padding-bottom: 15px;
}

h3{
	font-family: "ProximaNovaBold";
	font-size: 16px;
	padding-bottom: 15px;
}

h4{
	font-weight: 100;
	color: $bluestyle;
	font-size: 16px;
	font-family: "ProximaNovaLight";
	padding-bottom: 15px;
}

.overflowHd{
	overflow: hidden;
}

.breadcrumbs{
	font-family: "ProximaNovaLight";
	text-align: center;
	padding-bottom: 30px;

	&__item{
		display: inline-block;

		&:after{
			content: '/';
		}

		a{
			color: #929292;
		
		}

		&:last-child{
			a{
				color: #5f5f5f;
			}
			&:after{
				content: '';
			}
		}
	}

	&__back{
		display: none;
	}
}

.btn--blue{
	text-transform: uppercase;
	text-align: center;
	color: #fff;
	border-radius: 2px;
	background-color: #7fabc6;

	&:hover{
		background-color: #80b8db;
		box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.1);

	}
}

.pict-box{
		
	img{
		max-width: 100%;
		max-height: 100%;
		width: auto;
		height: auto;
	}
}

.btn--red{
	text-transform: uppercase;
	text-align: center;
	color: #fff;
	border-radius: 2px;
	background-color: #d1383e;

	&:hover{
			background-color: #fa594f
	}
}

.add{
	font-size: 14px;
	&__desc{
		display: inline;
		position: relative;
		top: 4px;
		padding-left: 5px;
	}

	&:hover{
		opacity: 0.7;
	}

	&__mob{
		display: none;
	}
}

.container{
	width: 100%;
	max-width:  1200px;
	padding: 0 15px;
	box-sizing: border-box;
	margin: 0 auto;
	position: relative;
	&:after{
			content: "";
			clear: both;
			display: block;
	}

	&--nonpd{
		padding: 0;
	}
}

.btn{
	text-align: center;
	font-size: $btn-font-size;
	color: $btn-color;
	width: $btn-width;
	display: block;
	border-radius: $btn-radius;
	padding: $btn-pd;
	background-color: $btn-bgc;
	border: $btn-border;
	cursor: pointer;
	text-transform: $btn-text-transf;
	&:hover{
		background-color: $btn-bgc-h;
		color: $btn-color-h;
	}
}

.title{
	text-align: center;
	text-transform: uppercase;
	font-size: $title-font-size;
	color: $title-color;
	font-family: "ProximaNovaLight";

	&--long{
		text-align: center;
		text-transform: uppercase;
		font-size: $title-font-size;
		color: $title-color;
		font-family: "ProximaNovaLight";
		position: relative;
		&:hover{
			color: #7fabc6;
		}
		
		&:before{
				position: absolute;
	    	content: '';
	    	height: 1px;
	    	top: 20px;
				background-color: $lightgrey ;
				width: 440px ;
				left: -0 ;
			}

			&:after{
				position: absolute;
    		content: '';
    		height: 1px;
    		top: 20px;
    		left: 63%;
				background-color: $lightgrey ;
				width: 315px ;
			}
		}

	span{
			position: relative;
			&:before{
				position: absolute;
				content: '';
				width: 40px;
				height: 1px;
				background-color:#5f5f5f;
				top: 49%;
				left: -59px; 
			}

			&:after{
				position: absolute;
				content: '';
				width: 40px;
				height: 1px;
				background-color:#5f5f5f;
				top: 49%;
				right: -59px; 
			}
		}
	
}

.p{
	line-height: 1.286;
	margin-bottom: 15px;
}

.good-title{
	&__code{
		font-size: 10px;
		text-decoration: underline;
		font-family: "ProximaNovaLight";
	}

	&__name{
		font-size: 24px;
    font-family: "ProximaNovaBold";
	}

	&__desc{
		font-family: "ProximaNovaLight";
		font-size: 14px;
	}
}

.primal-price{
	font-family: "ProximaNovaBold";
	font-size: 24px;
	span{
		font-family: "ProximaNovaLight";
		font-size: 14px;
	}
}

.review{
	display: -webkit-flex;
	display: flex;
	-webkit-align-items: center;
	align-items: center;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	justify-content: space-between;

	&__link{
		
		text-decoration: underline;
		padding-left: 7px;
		font-size: 12px;
		a{
			color: #9d9d9d;
		}
	}

	&__number{
		background-color: $bluestyle;
		width: 18px;
		height: 18px;
		border-radius: 12px;
		text-align: center;
		line-height: 18px;
		display: inline-block;
		color: #fff;
		margin-left: 5px;
		font-size: 10px;
	}

	.rate_star{
		font-size: 15px;
	}
}


.slick{
	&-disabled{
		opacity: .3;
	}

	&-dots{
		bottom: 5px;
		li{ 
			button{
				width: 10px;
				height: 10px;
				&:before{
					width: 10px;
					height: 10px;
					content: '';
					background-color: #c5c5c5;
					border-radius: 10px;
					opacity: 1;
				}
			}

			&.slick-active{
				button{
					&:before{
						background-color: $bluestyle;
					}
				}
			}
		}
	}
}

.guarantee﻿-link{
	font-family: "ProximaNovaBold";
	color: $bluestyle;
	font-size: 12px;
	text-decoration: none;
}

.compare{
	font-size: 12px;
	text-align: right;
	position: relative;
	top: -2px;

	&__add{
		opacity: 0.6;

		img{
			position: relative;
			top: 3px;
		}
	}

	&__open{
		display: none;
		color: $bluestyle;
		img{
			position: relative;
			top: 3px;
		}
	}
}

.progress{

	&__row{
		display: -webkit-flex;
		display: flex;
		-webkit-align-items: center;
		align-items: center;

	}

	&__name{
		text-align: right;
		width: 50%;
		padding-right: 22px;
	}

	&__line{
		width: 50%;
		//padding-left: 5px;
	}

	&__num{
		height: 3px;
		background-color: $bluestyle;
	}

	&__qual{
		width: 100%;
	}

	&__economic{
		width: 70%;
	}

	&__conv{
		width: 30%;
	}

	&__reliab{
		width: 40%;
	}
}

.label{
	width: 65px;
	color: #fff;
	text-align: center;
	text-transform: uppercase;
	padding: 4px 0;
	font-size: 12px;
	position: absolute;
	top: -2px;
	left: 20px;

	&--sale{
		//display: none;
		background-color: #d24a43;
	}

	&--new{
		background-color: $bluestyle;
	}
}

.good-status{
	position: absolute;
	top: 6px;
	color: #7c7c7c;
	right: 20px;
	font-size: 12px;
	img{
		position: relative;
		top: 4px;
	}

	&--ok{
		//display: none;
		color: $bluestyle;
		top: 0;



	}

	&--no{

		img{
			display: none;

		}
	}

	
}

.good-short{
	padding: 15px 13px;
	padding-bottom: 0;
	
	&:after{
			content: "";
			clear: both;
			display: block;
	}


	&__right{
		width: 58%;
		float: left;
	}

	.pict-box{
		width: 37%;
		height: 110px;
		float: left;
		padding-right: 10px;
		align-items: flex-start;

	}

	&__name{
		font-family: "ProximaNovaBold";
		font-size: 14px;
	}

	&__desc{
		font-size: 14px;
	}

	.good-title__code{
		padding-top: 15px;
	}
}

.clauses{

	&__num{
		width: 20px;
		height: 20px;
		line-height: 22px;
		text-align: center;
		background-color: $bluestyle;
		color: #fff;
		border-radius: 10px;
	}
	
	&__item{
		display: -webkit-flex;
		display: flex;
		-webkit-align-items: center;
		align-items: center;
		padding-bottom: 15px;
	}

	.pict-box{
		width: 33px;
		height: 30px;
		padding-right: 20px;
	}

	&__text{
		width: 200px;
		span{
			color: $bluestyle;
			font-family: "ProximaNovaBold";
		}
	}
}

.date{
	color: #aeaeae;
}

.overlay{
	display: none;
	position: fixed;
	width: 100%;
	height: 100%;
	left: 0px;
	top: 0px;
	background-color: #000;
	opacity: 0.5;
	z-index: 6;

}

.burger{
	display: block;
	width: 10px;
	margin-top: 20px;
	margin-left: 37px;
	margin-right: 20px;
	&__line{
		height: 2px;
		background-color: #cc2229;
		margin-bottom: 4px;
	}

	&--active{
		.burger__line{
			background-color: #000;
		}
	}
}

.btn-popup{
	display: none;
	background-color: #FFF;
	border-radius: 4px;
	position: fixed;
	width: 40%;
	left: 30%;
	top: 20%;
	opacity: 1;
	z-index: 7;
	padding: 35px 0;
	text-align: center;
	&__title{
		padding-bottom: 15px;
		font-size: 18px;
		font-family: "ProximaNovaBold";
	}

	&__text{
		font-size: 16px;
		padding:  0 20px;
		padding-bottom: 15px;

	}

	&__btn{
		display: block;
		margin: 0 auto;
		width: 170px;
		padding: 9px 0;
	}
}

.done-popup{
	display: none;
	background-color: #FFF;
	border-radius: 4px;
	border: $bd2;
	position: fixed;
	width: 40%;
	left: 30%;
	top: 30%;
	z-index: 7;
	padding: 30px 0 40px;
	text-align: center;
	&__text{
		padding: 0 20px;
		font-family: "ProximaNovaBold";
		font-size: 18px;
		padding-bottom: 20px;
	}

}

/* ============================================================== */
/* ==============================RESPONSIVE============= */
/* ==================================960========================== */

@media screen and (max-width: 1170px){
	.container{
		max-width:  960px;
		padding: 0 10px;
		&--nonpd{
			padding: 0;
		}
	}

	.title{
		&--long{
			&:before{
				width: 320px;
			}

			&:after{
				left: 66%;
    		width: 224px;
			}
		}
	}

}
/* ==================================744========================== */

@media screen and (max-width: 959px){
	.container{
		max-width:  744px;
		padding: 0 10px;
		&--nonpd{
			padding: 0;
		}
	}

	.title{
		&--long{
			&:before{
				width: 210px;
			}

			&:after{
				left: 70%;
    		width: 130px;
			}
		}
	}

	.btn-popup{
		width: 60%;
		left: 20%;
	}

	.done-popup{
		width: 60%;
		left: 20%;
	}

}	


/* ===================================320=============================== */

@media screen and (max-width: 743px){
	.container{
		max-width:  460px;
		padding: 0 10px;

		&--nonpd{
			padding: 0;
		}
	}

	html, body{
		font-size: $primary-fz-mob;
		line-height: $primary-l-heigth-mob;
	}

	h1{
	  font-size: 24px;
	}

	h2{
		font-size: 16px;
		padding-bottom: 10px;
	}

	h3{
		font-size: 14px;
		padding-bottom: 10px;
	}

	h4{

		font-size: 14px;
		padding-bottom: 10px;
	}

	.btn{
		padding: $btn-pd-mob;
		font-size: $btn-font-size-mob;
	}

	.title{
		font-size: $title-font-size-mob;
		
		span{
			&:before{
				display: none;
			}

			&:after{
				display: none;
			}
			
		}

		&--long{
			font-size: 22px;
			&:before{
				display: none;
			}

			&:after{
				display: none;
			}
		}

		&--order{
			margin-bottom: 20px;
		}
	}

	.good-title{
		&__name{
			font-size: 14px;
		}
	}

	.breadcrumbs{
		max-width: 460px;
		margin: 0 auto;
		padding-left: 10px;
		text-align: left;
		&__list{
			display: none;
		}

		&__back{
			display: block;
			color: #929292;
			font-size: 12px;
			img{
				padding-left: 5px;
				transform: rotate(180deg) translateY(-2px);
			}
		}
	}

	.add{
		font-size: 0;

		&__mob{
			display: block;
		}

		&__desc{
			display: none !important;
		}
	}

	.btn-popup{
		width: 90%;
		left: 5%;
	}

	.done-popup{
		width: 90%;
		left: 5%;
	}

}	