@import "variables";

/* ==========HEADER============ */
header{
	background-color: #f0f0f0;
}

.header{
	padding-bottom: 120px;
	background-image: url("../img/wave.png");
	background-position:0 bottom ;
	background-repeat: no-repeat;
	background-repeat-x:repeat;
	&-top{
		border-bottom: 1px solid #d6d6d6;

		&__phone{
			padding: 19px 0;
			width: 210px;
			text-align: center;
			border-right: 1px solid #d6d6d6;
			float: right;
			height: 53px;
			box-sizing: border-box;
			border-left: 1px solid #d6d6d6;

			span{
				padding: 0 20px;
			}

			.img1{
				position: relative;
				top: 2px;
			}

		}

		&__time{
			float: right;
			padding: 20px 0;
			padding-left: 30px;
			height: 53px;
			box-sizing: border-box;

			.img1{
				padding-right: 20px;
				position: relative;
				top: 2px;
			}
			span{
				padding-right: 18px;
			}
		}

		&__nav{
			float: left;
			height: 53px;
			box-sizing: border-box;
		}
	}

	padding-top: 22px;

	&__logo{
		float: left;
	}

	&__icons{
		margin-top: 9px;
		float: left;
		height: 55px;
		display: -webkit-flex;
		display: flex;


		a{
			
			padding-top: 10px;
			position: relative;
			height: 30px;
		}
	}

	&__shop{
		margin-left: 20px;
		padding-left: 10px;
		.header__numb{
			background-color: #cc232a;
		}
		
	}

	&__balance{
		padding-top: 12px;
		padding-left: 10px;
		.header__numb{
			background-color: #74a3c1;
		}
	}

	&__numb{
		position: absolute;
		width: 25px;
		height: 25px;
		border-radius: 25px;
		display: table-cell;
		line-height: 25px;
		
		color: #fff;
		text-align: center;
		right: -10px;
		top: -2px;
	}

	&__bot{
		margin-top: 49px;
		height: 40px;
		line-height: 40px;
		text-transform: uppercase;
		font-weight: bold;
		display: -webkit-flex;
		display: flex;
		-webkit-box-pack: justify;
		-webkit-justify-content: space-between;
		justify-content: space-between;

		a{
			&:hover{
				color: #000;
			}
		}
	}

	&__cartr{
		display: block;
		width: 144px;
		text-align: center;
		height: 100%;
		border-right: 1px solid #cdcdcd;
	}

	&__water{
		flex-grow: 1;

		padding-left: 29px;
		padding-right: 20px;
		display: -webkit-flex;
		display: flex;
		justify-content: space-around;
		border-right: 1px solid #cdcdcd;

		li{
			display: inline-block
		}
	}

	&__filters{
		flex-grow: 3;
		display: -webkit-flex;
		border-right: 1px solid #cdcdcd;
		display: flex;
		justify-content: space-around;
		padding: 0 20px;
	}

	&__acc{
		width: 140px;
		text-align: center;
		color: #cc232a;

		&:hover{
			color: #cc232a !important;
			opacity: .5;			
		}
	}
	
}

.nav{
	text-transform: uppercase;
	padding: 20px 0;
	
	padding-right: 10px;


	&__item{
		padding: 0 8px;
		display: inline-block;
	}

	&__list{
		margin-left: -10px;
	}

	&__link{

		&:hover{
			font-weight: bold;
		}
	}
}

.main-search{
	background-color: #FFF;
	width: 65%;
	float: left;
	margin: 0 30px;
	margin-left: 50px;
	position: relative;
	height: 55px;
	margin-top: 9px;
	box-shadow: 0px 0px 20px 2px rgba(0,0,0,0.15);

	&__sel{
		display: inline-block;
		width: 125px;
	}

	&__input{
		display: inline-block;
		width: 75%;

		input{
			display: block;
			width: 100%;
			position: relative;
			top: 2px;
		}
	}

	&__btn{
		position: absolute;	
		right: 0;
		top: 0;
		height: 44px;
		margin: 6px 0;

		border-left: 1px solid #e7e7e7;


		button{
			display: block;
			padding: 15px 20px;
			border: none;
			background-color: transparent;
			cursor: pointer;
		}
	}

	form{
		position: relative;
	}

	&__drop{
		
		background-color: #FFF;
		z-index: 3;
		position: absolute;
		top: 60px;
		display: -webkit-flex;
		display: flex;
		box-shadow: 2.5px 4.33px 15px 0px rgba(0, 0, 0, 0.25);

		.drop{
			&__pict{
				width: 70px;

				text-align: center;
				img{
					width: 90%;
				}
			}

			&__item{
				display: -webkit-flex;
				display: flex;
				font-size: 14px;
				padding: 10px;
				width: 360px;
				border-bottom: 1px solid #e8e8e8;
			}

			&__content{
				width: 290px;
				box-sizing: border-box;
				padding-left: 10px;
				font-family: "ProximaNovaLight";
			}

			&__name{
				font-size: 14px;
				font-family: "ProximaNovaBold";

			}
		}
	}
}

.jq-selectbox{

	&__select{
		background-image: none;
		border: none;
		box-shadow: none;
		height: 55px;
		padding-right: 35px;

		&-text{
			overflow: visible;
			white-space: normal;
			width: 73px !important;
			height: 100%;
			line-height: 56px;
			text-transform: uppercase;
			font-weight: bold;
			font-size: 12px;
			color: #5f5f5f;
			font-family: "ProximaNovaBlack";
		}

		&:hover{
			background-image: none;
		}

		&:active{
			box-shadow: none;
			background-color: transparent;
		}
	}

	&__trigger{
		border: none;
		width: 45px;
	}

	&__trigger-arrow{
		display: none;
	}

	&__trigger{
		background-image: url("../img/list-arr.png");
		background-position: center;
		background-repeat: no-repeat;
	}

	&.focused{


		.jq-selectbox__select{
			border: none;
		}
	}

	li{
		color: #5f5f5f;
		&:hover{
			background-color: transparent;
			color: #5f5f5f;
		}

		&.selected{
			opacity: 0.8;
		}
	}
}