@import "variables";

/* ==========HEADER============ */
header{
	background-color: #f0f0f0;
}

.header{
	padding-bottom: 45px;
	
	&--bg{
		background-image: url("../img/wave.png");
		background-position:0 bottom ;
		background-repeat: no-repeat;
		background-repeat-x:repeat;	
		padding-bottom: 120px;
	}

	&-top{
		border-bottom: 1px solid #d6d6d6;
		
		&__burger{
			display: none;
		}

		&__phone{
			padding: 19px 0;
			width: 210px;
			text-align: center;
			border-right: 1px solid #d6d6d6;
			float: right;
			height: 53px;
			box-sizing: border-box;
			border-left: 1px solid #d6d6d6;
			position: relative;

			span{
				padding: 0 20px;
			}

			.img1{
				position: relative;
				top: 2px;
			}

			a{
				display: block;
			}

		}

		&__time{
			float: right;
			padding: 20px 0;
			padding-left: 30px;
			height: 53px;
			box-sizing: border-box;

			.img1{
				padding-right: 20px;
				position: relative;
				top: 2px;
			}
			span{
				padding-right: 18px;
			}
		}

		&__nav{
			float: left;
			height: 53px;
			box-sizing: border-box;
		}
	}

	&__search{
		display: none;
	}

	padding-top: 22px;

	&__logo{
		float: left;
	}

	&__icons{
		margin-top: 9px;
		float: left;
		height: 55px;
		display: -webkit-flex;
		display: flex;
		position: relative;
	}

	&__shop{
			display: block;
			padding-top: 10px;
			position: relative;
			height: 30px;
			margin-left: 20px;
			padding-bottom: 20px;
			padding-left: 10px;
		.header__numb{
			background-color: #cc232a;
		}

		&:hover{
			.trash-modal{
				display: block;
			}
		}
		
	}

	&__balance{
			padding-top: 10px;
			position: relative;
			height: 30px;
			padding-bottom: 20px;
			padding-top: 12px;
			padding-left: 10px;
		.header__numb{
			background-color: #74a3c1;
		}

		&:hover{
			.balance-modal{
				display: block;
			}
		}
	}

	&__numb{
		position: absolute;
		width: 25px;
		height: 25px;
		border-radius: 25px;
		display: table-cell;
		line-height: 25px;
		
		color: #fff;
		text-align: center;
		right: -10px;
		top: -2px;
	}

	&__bot{
		margin-top: 49px;
		height: 40px;
		line-height: 40px;
		text-transform: uppercase;
		font-weight: bold;
		display: -webkit-flex;
		display: flex;
		-webkit-box-pack: justify;
		-webkit-justify-content: space-between;
		justify-content: space-between;

		a{
			&:hover{
				color: #000;
			}
		}
	}

	&__cartr{
		display: block;
		width: 144px;
		text-align: center;
		height: 100%;
		border-right: 1px solid #cdcdcd;
	}

	&__cartr-li{
		padding-bottom: 30px;
		
	}

	&__water{
		//flex-grow: 1;

		padding-left: 29px;
		//padding-right: 20px;
		/* display: -webkit-flex;
		display: flex;
		justify-content: space-around; */
		border-right: 1px solid #cdcdcd;

		li{
			position: relative;
			display: inline-block;
			padding-right: 45px;
		}
	}

	&__filters{
		//flex-grow: 3;
		//display: -webkit-flex;
		border-right: 1px solid #cdcdcd;
		//display: flex;
		//justify-content: space-around;
		padding: 0 20px;

		li{
			position: relative;
			display: inline-block;
			padding-right: 45px;
		}
	}

	&__acc{
		width: 140px;
		text-align: center;
		color: #cc232a;
		animation-name: textShadow;
		animation-iteration-count: infinite;
		animation-duration: 2s;

		&:hover{
			color: #cc232a !important;
			opacity: .5;			
		}
	}

	&__burger--mob{
		display: none;
	}

	&__for{
		display: none;
		padding-right: 55px;
		border-right: 1px solid #cdcdcd;
		img{
			padding-left: 8px;
		}
		a{
			display: block;
			height: 100%;
		}
	}

	&__type{
		display: none;
		padding-right: 55px;
		border-right: 1px solid #cdcdcd;
		img{
			padding-left: 8px;
		}
		a{
			display: block;
			height: 100%;
		}
	}
	
}

/* ==========nav============ */
.nav{
	text-transform: uppercase;
	padding: 20px 0;
	
	padding-right: 10px;


	&__item{
		padding: 0 8px;
		display: inline-block;
	}

	&__list{
		margin-left: -10px;
	}

	&__link{
		//font-family: "ProximaNovaRegular";
		&:hover{
			font-weight: bold;
		}
	}
}

/* ==========main-search============ */

.main-search{
	background-color: #FFF;
	width: 65%;
	float: left;
	margin: 0 30px;
	margin-left: 50px;
	position: relative;
	height: 55px;
	margin-top: 9px;
	box-shadow: 0px 0px 20px 2px rgba(0,0,0,0.15);

	&__sel{
		display: inline-block;
		width: 125px;
		height: 100%;
		vertical-align: top;
		height: 55px;
	}

	&__select{
		line-height: 55px;
		font-family: "ProximaNovaBlack";
		text-transform: uppercase;
		padding-left: 15px;
		display: block;
		height: 100%;
		img{
			padding-left: 10px;
		}
	}

	&__input{
		display: inline-block;
		width: 75%;
		padding-top: 7px;

		input{
			display: block;
			width: 100%;
			position: relative;
			top: 2px;
			border: 0;
			padding: 10px;
		}
	}

	&__btn{
		position: absolute;	
		right: 0;
		top: 0;
		height: 44px;
		margin: 6px 0;

		border-left: 1px solid #e7e7e7;


		button{
			display: block;
			padding: 15px 20px;
			border: none;
			background-color: transparent;
			cursor: pointer;
		}
	}

	form{
		position: relative;
	}

	&__drop{
		background-color: #FFF;
		z-index: 3;
		position: absolute;
		border: 1px solid #e8e8e8;
		top: 60px;
		display: -webkit-flex;
		display: flex;
		box-shadow: 2.5px 4.33px 15px 0px rgba(0, 0, 0, 0.25);
		display: none;

		&:before{
			position: absolute;
			content: url(../img/drop-p.png);
			top: -11px;
			left: 60px;
		}

		.drop{
			&__pict{
				width: 70px;

				text-align: center;
				img{
					width: 90%;
				}
			}

			&__item{
				display: -webkit-flex;
				display: flex;
				font-size: 14px;
				padding: 10px;
				width: 360px;
				border-bottom: 1px solid #e8e8e8;

				&:hover{
					    background-color: #f0f0f0;
				}
			}

			&__content{
				width: 290px;
				box-sizing: border-box;
				padding-left: 10px;
				font-family: "ProximaNovaLight";
			}

			&__name{
				font-size: 14px;
				font-family: "ProximaNovaBold";

			}
		}
	}
}

.slimScrollBar{
	border-radius: 0 !important;
	background-color: #d6d6d6 !important;
	opacity: 1 !important;
	width: 10px !important;
}

/* ==========trash-modal============ */

.trash-modal{
	display: none; 
	width: 270px;
	box-shadow: 2.5px 4.33px 15px 0px rgba(0, 0, 0, 0.25);
		position: absolute;
		background-color: #FFF;
		z-index: 3;
		top: 50px;
		right: -40px;

	&:before{
		position: absolute;
    content: url(../img/drop-p.png);
    top: -10px;
    z-index: 5;
    right: 43px;
	}

	&__list{
		border: 1px solid #e8e8e8;
	}

	&__item{
		display: block;
		padding-top: 15px;
		padding-bottom: 12px;
		//padding-right: 15px;
		display: -webkit-flex;
		display: flex;
		border-bottom: 1px solid #e8e8e8;
	}

	&__goto{
		text-align: center;
		font-size: 14px;
		height: 45px;
		border-top: 1px solid #e8e8e8;
		border-left: 1px solid #e8e8e8;
		border-right: 1px solid #e8e8e8;
		a{
			color: #7fabc6;
			display: block;
			height: 100%;
			line-height: 45px;

			img{
				vertical-align: middle;
				padding: 5px;

			}
		}
	}

	&__total{
		height: 60px;
		background-color: #f0f0f0;
		display: -webkit-flex;
		display: flex;
		-webkit-align-items: center;
		align-items: center;
		justify-content: space-around;
	}

	&__btn{
		height: 50px;
		line-height: 50px;
		display: block;
		text-align: center;
		text-transform: uppercase;
		font-family: "ProximaNovaLight";
		color: #fff;
		font-size: 18px;
		background-color: #d1383e;

		&:hover{
			background-color: #fa594f
		}

	}

	&__total-w{
		font-size: 18px;
		font-family: "ProximaNovaLight";
		text-transform: uppercase;

	}

	&__total-p{
		font-family: "ProximaNovaBold";
		font-size: 30px;
		color: #7fabc6;

		span{
			font-family: "ProximaNovaLight";
			color: #505050;
			font-size: 14px;
		}
	}

	&__shoping{
		position: relative;
		top: -3px;
	}

	&__close{
		display: -webkit-flex;
		display: flex;
		-webkit-align-items: center;
		align-items: center;
		text-align: center;
		width: 30px;
		-webkit-box-pack: justify;
		-webkit-justify-content: center;
		justify-content: center;
	}

	&__body{
		width: 240px;
	}

	&__name{
		font-family: "ProximaNovaBold";
		font-size: 12px;
	}

	&__top{
		display: -webkit-flex;
		display: flex;;
	}

	&__pict{
		width: 47px;
		display: table-cell;
		img{
			width: 100%;
			//margin: auto;
		}
	}

	&__cont{
		padding-left: 10px;
		box-sizing: border-box;
		width: 193px;
		padding-right: 15px;
	}

	&__code{
		font-size: 10px;
	}

	&__bot{
		display: -webkit-flex;
		display: flex;
		-webkit-box-pack: justify;
		-webkit-justify-content: space-between;
		justify-content: space-between;
		font-size: 12px;
		padding-top: 3px;
		    padding-right: 15px;
	}

	&__quan{
		font-family: "ProximaNovaLight";
	}

	&__price{
		font-family: "ProximaNovaBold";
	}
	&__price2{
		font-family: "ProximaNovaBold";
	}
}

/* ==========mega-menu============ */

.mega-menu{
	display: block;
	display: none;
	line-height: $primary-l-heigth;
	text-transform: none;
	z-index: 10;

	.drop__item{
		box-sizing: border-box;
		display: inline-flex;
		border-right: 1px solid #e8e8e8;
	}

	.main-search__drop--wrapper{
		width: 720px;
		display: -webkit-flex;
		display: flex;
		-webkit-flex-wrap: wrap;
		-moz-flex-wrap: wrap;
		-ms-flex-wrap: wrap;
		-o-flex-wrap: wrap;
		flex-wrap: wrap;
	}
}


/* ===============balance-modal=============== */

.balance-modal{
	display: none;
	position: absolute;
	border: 1px solid #e8e8e8;
	padding: 13px;
	background-color: #FFF;
	min-width: 120px;
	box-shadow: 2.5px 4.33px 15px 0px rgba(0, 0, 0, 0.25);
	font-size: 14px;
	top: 50px;
  left: -47px;
  z-index: 4;

	&:before{
		position: absolute;
    content: url(../img/drop-p.png);
    top: -14px;
    left: 67px;
	}

	&__del{
		padding-left: 5px;
		position: relative;
		top: 1px;
		display: inline-block;
		vertical-align: top;
	}

	&__text{
		display: inline-block;
		width: 80%;
	}

	&__item{
		text-align: right;
	}
}


/* .jq-selectbox{

	&__select{
		background-image: none;
		border: none;
		box-shadow: none;
		height: 55px;
		padding-right: 35px;

		&-text{
			overflow: visible;
			white-space: normal;
			width: 73px !important;
			height: 100%;
			line-height: 56px;
			text-transform: uppercase;
			font-weight: bold;
			font-size: 12px;
			color: #5f5f5f;
			font-family: "ProximaNovaBlack";
		}

		&:hover{
			background-image: none;
		}

		&:active{
			box-shadow: none;
			background-color: transparent;
		}
	}

	&__trigger{
		border: none;
		width: 45px;
	}

	&__trigger-arrow{
		display: none;
	}

	&__trigger{
		background-image: url("../img/list-arr.png");
		background-position: center;
		background-repeat: no-repeat;
	}

	&.focused{


		.jq-selectbox__select{
			border: none;
		}
	}

	li{
		color: #5f5f5f;
		&:hover{
			background-color: transparent;
			color: #5f5f5f;
		}

		&.selected{
			opacity: 0.8;
		}
	}
} */

.phones{
	display: none;
	position: absolute;
	width: 100%;
	top: 0;
	background-color: #f0f0f0;
	padding: 15px 0px;
	padding-top: 19px;
	z-index: 15;
	box-shadow: 2.5px 4.33px 15px 0px rgba(0, 0, 0, 0.25);

	.img2{
		transform: rotate(180deg);
	}

	.extr-tel{
		position: relative;
		left: -2px;
	}

	a{
		padding-bottom: 10px;
	}
}

.burger-menu{
	position: absolute;
	width: 100%;
	left: 0;
	top: 54px;
	box-sizing: border-box;
	background-color: #f0f0f0;
	z-index: 2;
	padding: 0 15px;
	display: none;
	
	&--top{
		display: none;
	}
	
	&__item{
		
	}

	&__body{
		border: 	1px solid #d6d6d6;
		margin: 0 auto;
	}

	&__link{
		display: block;
		text-transform: uppercase	;
		padding: 23px 35px;
		font-family: "ProximaNovaBold";
	}

	&__cartr-li{
		a{
			color: #181818;
		}
	}

	&__cartr{
		border-right: 1px solid #d6d6d6;
	}

	&__left{
		width: 43.1%;
		display: -webkit-flex;
		display: flex;
		border-right: 1px solid #d6d6d6;
	}

	&__right{
		width: 56.9%;
		display: -webkit-flex;
		display: flex;
		&:after{
			content: "";
			clear: both;
			display: block;
		}
	}

	&__water{
		display: -webkit-flex;
		display: flex;
		-webkit-box-pack: justify;
		-webkit-justify-content: center;
		justify-content: center;
		float: left;
		width: 360px;
		
	}

	&__balance{
		display: none;
	}

	&__filters{
		display: -webkit-flex;
		display: flex;
		width: 525px;
		float: left;
		border-right: 1px solid #d6d6d6;
	}

	&__top{
		display: -webkit-flex;
		display: flex;

	}

	&__acc{
		margin: 0 auto;
		color: #cc232a;
	}

	&__info{
		display: flex;
	}

	.nav__item{
		line-height: 17px;
	}

	&__time{
		height: 100%;
		float: none;
	}

	&__phone{
		height: 100%;
		float: none;
	}

	&__bot{
		border-top: 1px solid #d6d6d6;
		display: -webkit-flex;
		display: flex;
		-webkit-box-pack: justify;
		-webkit-justify-content: space-between;
		justify-content: space-between;
		.nav{
			padding-left: 15px;
		}
	}

	&--mini{
		top: 64px;
		padding: 0;
		margin: 0 10px;
	}
}

.sub-menu{
	display: none;
	//max-width: 460px;
	margin: 0 auto;

	&__item{
		width: 50%;
		float: left;
		vertical-align: top;
		box-sizing: border-box;
		border: 1px solid #d6d6d6;
		border-bottom: none;

		&:nth-child(2n){
			border-right: none;
		}

		&:nth-child(2n-1){
			border-right: none;
			border-left: none;
		}

		&--balance{
			.sub-menu__link{
				width: 60px;
				text-align: center;
				margin: 0 auto;
			}

			.header__numb{
				background-color: #74a3c1;
				right: -8px;
				top: 7px;
			}
		}
	}

	&__category{

		&:after{
			content: "";
			clear: both;
			display: block;
		}

		.sub-menu__link{
			font-family: "ProximaNovaBold";
		}
	}

	&__link{
		display: block;
		text-transform: uppercase;
		height: 58px;
		padding: 20px 0;
		box-sizing: border-box;
		padding-left: 20px;
		position: relative;
		img{
			vertical-align: middle;
		}

		&--black{
			color: #181818;
		}

		&--red{
			color:#cc232a;
		}
	}

	&__nav{
		&:after{
			content: "";
			clear: both;
			display: block;
		}
		border-bottom: 1px solid #d6d6d6;

	}

	&__phones{
		padding: 20px 0;
		display: block;
		box-sizing: border-box;
		padding-left: 20px;
		border-top: 1px solid #d6d6d6;
		
		&-open{
			display: none;
		}

		img{
			padding: 0 15px;
		}
	}

	&__time{
		padding: 20px 0;
		display: block;
		box-sizing: border-box;
		padding-left: 20px;
		border-top: 1px solid #d6d6d6;
		img{
			padding: 0 15px;
		}
	}

	.extr-tel{
		display: block;
		    padding: 20px 0;
		    padding-left: 60px;
	}
}

.mob-search{
	display: none;
}

.mini-head{
	display: none;
	width: 100%;
	position: fixed;
	z-index: 6;
	background-color: #f0f0f0;
	border-bottom: 	1px solid #d6d6d6;
	&__burger{
		.burger{
			margin: 0;
			margin-left: 35px;
		}

		margin-right: 20px;
	}

	&__body{
		display: -webkit-flex;
		display: flex;
		-webkit-box-pack: justify;
		-webkit-justify-content: space-between;
		justify-content: space-between;
		-webkit-align-items: center;
		align-items: center;
	}

	&__search{
		flex-grow: 1;
		background-color: #FFF;
		box-shadow: 0px 0px 20px 2px rgba(0, 0, 0, 0.15);
		form{
			position: relative;
		}

		.main-search{
			&__sel{
				height: 46px;
			}	

			&__select{
				line-height: 46px;
			}

			&__input{
				padding-top: 3px;
			}

			&__btn{
				height: 34px;
				button{
					padding: 12px 20px;
				}
			}
		}
	}

	&__icons{
		margin-left: 60px;
	}
	

	&__logo{
		margin-right: 70px;
		width: 110px;
		img{
			width: 100%;
		}
	}
}
/* ==========animations============ */

@keyframes textShadow{
	0%{
		text-shadow: 0px 0px 6px rgba(204, 35, 42, 0.5);
	}

	50%{
		text-shadow: 0px 0px 0px rgba(204, 35, 42, 0.5);
	}

	100%{
		text-shadow: 0px 0px 6px rgba(204, 35, 42, 0.5);
	}
}

/* ===================================================== */
/* =====================RESPONSIVE============= */
/* =====================940======================= */
@media screen and (min-width: 1170px){/* ===для мега меню== */
/* ==========other============ */
	.header__cartr-li{
		&:hover{
			#cartr-list{
				display: block;
			}
		}
	}

	#drink-water-item{
		padding-bottom: 22px;
		&:hover{
			#drink-water{
				display: block;
				    left: -20px;
			}
		}
	}

	#prom-water-item{
		padding-bottom: 22px;
		&:hover{
			#prom-water{
				display: block;
				    left: -20px;
			}
		}
	}

	#for-float-item{
		padding-bottom: 22px;
		&:hover{
			#for-float{
				display: block;
				right: 0px;

				&:before{
					right: 80px;
					left: auto;
				}
			}
		}
	}

	#for-home-item{
		padding-bottom: 22px;
		&:hover{
			#for-home{
				display: block;
				right: 0px;
				&:before{
					right: 80px;
					left: auto;
				}
			}
		}
	}

	#for-company-item{
		padding-bottom: 22px;
		&:hover{
			#for-company{
				display: block;
				right: 0px;
				&:before{
					right: 80px;
					left: auto;
				}
			}
		}
	}

	#search-list{
		display: none;
		left: 137px;
		.drop__item{
			width: 270px;
		}
	}
}
@media screen and (max-width: 1170px){
	
	/* ============header-top=========== */
	.header-top{

		&__burger{
			display: block;
			float: right;
		}
	}

	/* ============nav=========== */

	.nav{
		&__item{

			&:nth-child(n+5){
				display: none;
			}
		}
	}
	
	/* ============header=========== */
	.header{

		&__filters{
			display: none;
			right: 56px;
			top: 50px;
			position: absolute;
			border: none;
			li{
				
			}
		}

		&__shop{
			&:hover{
				.trash-modal{
					display: none;
				}
			}
		}

		&__balance{
			&:hover{
				.balance-modal{
					display: none;
				}
			}
		}

		&__water{
			padding-right: 35px;
		}

		&__bot{
			margin-bottom: 50px;
		}

		&__for{
			display: block;
		}


	}

	/* ============main-search=========== */

	.main-search{
		width: 580px;

	}

	/* ============burger-menu============ */
	.burger-menu{
		padding: 0px;
		display: none;
		&__top{
			display: block;
		}

		&__left{
			width: 100%;
			border-bottom: 1px solid #d6d6d6;
		}

		&__right{
			width: 100%;
			flex-direction: row-reverse;
			justify-content: flex-end;
		}

		&__filters{
			border: none;
			width: auto;
			li{
				&:last-child{
					a{

						border: none;
					}
				}
			}
		}

		&__link{
			border-right: 1px solid #d6d6d6;
			padding: 23px 0;
			width: 159px;
			padding-left: 20px;
			box-sizing: border-box;
		}

		

		&__cartr{
			border: none;
		}

		&__water{
			width: auto;
		}

		&__acc{
			margin: 0;
		}

		&__bot{
			flex-direction: column-reverse;
		}

		.nav{
			border-top: 1px solid #d6d6d6;
			&__item{

				&:nth-child(n+5){
					display: inline-block;
				}
			}
		}

		&--top{
			.burger-menu__info{
				display: none;
			}

			.nav{
				border: none;
			}
		}
	}

	#prom-water{
		//display: block;
		left: -190px;
		&:before{
			left: 223px;
		}
	}

	#drink-water{
		left: -47px;
		&:before{
			left: 86px;
		}
	}

	#for-float-item, #for-home-item, #for-company-item {
		position: static;
	}
	#for-float{
		display: block;
		right: -46px;
		&:before{
			left: 40%;
		}
	}

	#for-home{
		right: -46px;
		&:before{
			left: 57%;
		}
	}

	#for-company{
		
		right: -46px;
		&:before{
			left: 75%;
		}
	}
}


/* =============================744======================= */
@media screen and (max-width: 959px){
	
	/* ============nav=========== */
	.nav{
		&__item{

			&:nth-child(n+3){
				display: none;
			}
		}
	}

	/* ================header================ */
	.header{
		&__icons{
			float: right;
			margin-right: 30px;
		}

		&__search{
			float: right;
		}

		&__type{
			display: block;
		}

		&__filters{
			right: 52px;
		}

		&__water{
			display: none;
			position: absolute;
			top: 50px;
			left: 96px;
			border: none;
		}
	}

	/* ============main-search=========== */

	.main-search{
		width: 352px;
		margin-left: 35px;

		&__input{
			width: 173px;
			input{
				box-sizing: border-box;
				font-size: 12px;
			}
		}
	}

	/* ============burger-menu============ */
	.burger-menu{
		//display: none;
		
		&__balance{
			display: block;
			padding: 0;
			padding-top: 15px;
			margin-top: 10px;
			padding-right: 0;
			margin-left: auto;
			margin-right: 88px;
		}

		.nav{
			&__item{

				&:nth-child(n+3){
					display: inline-block;
				}
			}
		}

		&--top{
			.burger-menu__balance{
				display: none;
			}
		}
	}

	.balance-modal{

		&--burg{
			left: -58px;
		}
	}

	/* ==========mini-head============== */
	.mini-head{
		&__body{
			.header__balance{
				display: none;
			}
		}

		&__icons{
			margin-left: 10px;
		}

		&__burger{
			.burger{
			  margin-left: 10px
			}
		}
	}

	

	#drink-water{
		left: -95px;
		&:before{
			left: 128px;
		}
	}

	#prom-water{
		left: -238px;
		&:before{
			left: 273px;
		}
	}
}

/* ===================================320=============================== */

@media screen and (max-width: 743px){
	
	.header-top{
		display: none;


	}

	/* ============burger-menu============ */
	.burger-menu{
		display: none;
	}
	
	/* ===============header================ */
	.header{
		padding-top: 10px;
		&__bot{
			display: none;
		}

		&__logo{
			width: 110px;

			img{
				width: 100%;
			}
		}

		&__balance{
			display: none;
		}

		&__icons{
			//margin-top: 15px;
		}

		&__search{
			display: block;
			a{
				display: block;
				width: 14px;
				margin-top: 20px;
				img{
					width: 100%;
				}
			}
		}

		&__burger{
			&--mob{
				display: block;
				float: right;
				margin-left: -20px;

				.burger{
					margin-left: 30px;
					margin-top: 20px;
				}
			}
		}
	}
	
  /* ===============header================ */
	.mob-search{
		display: block;
		box-sizing: border-box;
		max-width: 460px;
		margin: 0 auto;
		padding: 7px 20px;
		display: none;
		&__input{
			background-color: #FFF;
			border-radius: 4px;
			padding: 5px 0;
			
			&:after{
				content: "";
				clear: both;
				display: block;
			}
			input{
				border: none;
				float: left;
				width: 80%;
				box-sizing: border-box;
			}
		}

		&__btn{
			float: right;
			padding-right: 20px;
			padding-top: 11px;
		}
	}

	/* =================main-search============ */
	.main-search{
		display: none;
	}

	/* =================main-search============*/

	.mini-head{
		display: none;
	} 
}