/* =================list============== */
.list{
	display: -webkit-flex;
	display: flex;
	padding-bottom: 58px;

	.title{
		text-align: left;
		padding-left: 32px;
	}

	&__area{
		display: -webkit-flex;
		display: flex;
		-webkit-flex-wrap: wrap;
		-moz-flex-wrap: wrap;
		-ms-flex-wrap: wrap;
		-o-flex-wrap: wrap;
		flex-wrap: wrap;
		//margin-right: 1px;
	}

	&__desc{
		width: 70%;
		padding-left: 32px;
	}

	&__head{
		//margin-right: 1px;
		background-color: #FFF;
		text-transform: uppercase;
		font-size: 12px;
		padding: 0 13px;
		border: 2px solid $lightgrey;
		display: -webkit-flex;
		display: flex;
		-webkit-box-pack: justify;
		-webkit-justify-content: space-between;
		justify-content: space-between;
	}

	&__filt{
		position: relative;
		.list__switch{
			padding-right: 12px;

			&--active{
				//border-color: #e8e8e8 !important;
				img{
					transform: rotate(180deg) translateX(-3px);
				}
			}
		}
	}

	&__switch{
		display: inline-block;
		padding: 15px 0;
		img{
			padding-left: 5px;
			transition: 0.3s;
		}

		&Active{
			color: $bluestyle;
		}

		

		&--pdl{
			padding-left: 68px;
			&:hover{
				color: $bluestyle;
			}
		}

		&--list{
			border-right: 2px solid transparent;
			width: 180px;
		}
	}

	&__view{
		.list__switch{
			padding-left: 25px;

			&:hover{
				color: $bluestyle;
			}
		}
	}

	&__option{
		display: none;
		position: absolute;
		z-index: 4;
		background-color: #FFF;
		top: 46px;
		box-sizing: border-box;
		width: 210px;
		left: -15px;
    padding: 0px 16px;
		padding-right: 30px;
		border: 2px solid $lightgrey; 
		border-top: none;
		a{
			display: block;
			padding-bottom: 15px;
			position: relative;
			left: -3px;
			transition: 0s;
		}
	}

	&__box{
		padding-top: 15px;
		width: 903px;
	}

	&__more{
		border: 2px solid $lightgrey; 
		height: 46px;
		font-family: "ProximaNovaBold";
		text-align: center;
		font-size: 14px;
		text-transform: uppercase;
		margin-right: 1px;
		background-color: #FFF;
		a{
			width: 100%;
			display: block;
			height: 100%;
			line-height: 46px;
			color: #9d9d9d;

			&:hover{
				background-color: $bluestyle;
				color: #fff;
			}
		}

		img{
			display: none;
			animation-name: rotateloar;
			animation-duration: 1.0s;
			animation-iteration-count: infinite;
			animation-timing-function: linear;
		}

		&--load{
			background-color: #74a3c1;
			img{
				display: inline;
				vertical-align: middle;
			}

			span{
				display: none;
			}
		}
	}

	&__btn-f{
		display: none;
	}
}

@keyframes rotateloar{
	0%{
		transform: rotate(0deg);
	}

	100%{
		transform: rotate(360deg);
	}
}

/* =================filter============== */

.filter{
	background-color: #FFF;
	width: 297px;
	font-size: 14px;
	//margin-top: 210px;
	border: 2px solid $lightgrey;
	box-sizing: border-box;
	border-bottom-width: 1px;
	border-top-width: 1px;

	&__box{
		padding: 20px 0;
		padding-left: 23px;
		padding-right: 28px;
		display: block;
		border-bottom: $bd;
	}

	&__title{
		font-family: "ProximaNovaBold";
		font-size: 16px;
		img{
			padding-left: 5px;
		}
	}

	&__price{
		padding-top: 35px;

		&--text1{
			position: relative;
			top: -30px;
		}

		&--text2{
			position: relative;
			top: -30px;
		}
	}

	&__inputs{
		display: -webkit-flex;
		display: flex;
		-webkit-align-items: center;
		align-items: center;
		-webkit-box-pack: justify;
		-webkit-justify-content: space-between;
		justify-content: space-between;
		padding-top: 22px;
		input{
			box-sizing:border-box;
			height: 35px;
			line-height: 35px;
			width: 60px;
			border: $bd;
			display: inline;
			box-shadow: 0px 1px 10px 0px rgba(0, 0, 2, 0.1);
		}
	}

	&__more{
		padding-top: 5px;
		display: block;
		font-size: 14px;
		img{
			opacity: 0.6;
			padding: 0 4px;
			//transition: .3s;
		}

		&--active{
			img{
				transform: rotate(180deg);
			}
		}
	}

	&__btn{
		width: 50px;
		height: 35px;
		line-height: 35px;
		box-shadow: 0px 1px 10px 0px rgba(0, 0, 2, 0.1);
	}

	&__link{
		padding-bottom: 6px;
		font-size: 14px;
		display: block;
		padding-left: 30px;
		position: relative;
		&:before{
			position: absolute;
			content: '';
			width: 13px;
			height: 13px;
			border-radius: 1px;
			border: $bd;
			left: 0;
			top: 0;
		}

		&--active{
			&:before{
				background: url(../img/check-ic.png) no-repeat center;
			}
		}
	}
	&__list{
		padding-top: 15px;

		&--cut{
			li:nth-child(n+6){
				display: none;
			}
		}
	}

	&__list2{
		padding-top: 5px;
		padding-bottom: 10px;
	}

	&__click{
		display: none;
	}

	&__chosen{
		display: inline-block;
		padding: 5px 7px;
		border-radius: 2px;
		&:hover{
			background-color: #ececec;
		}
	}

	&__delete{
		padding-right: 3px;
	}

	&__deleteall{
		padding: 10px 0;
		display: block;
		width: 187px;
		border: 2px solid #d24a43;
		color: #d24a43;
		border-radius: 2px;
		text-align: center;
		 img{
		 	padding-left: 10px;
		 	position: relative;
		 	top: 3px;
		 }

		&--img-h{
			display: none;
		} 	

		&:hover{
			background-color: #d24a43;
			color: #fff;
			.filter__deleteall--img-h{
				display: inline-block;

			}

			.filter__deleteall--img{
				display: none;
			}

		} 
	}
}

/* =================ui-slider============== */

#slider {
    width: 200px;
}

.ui-slider {

    position: relative;

}

.ui-slider .ui-slider-handle {
    position: absolute;
   z-index: 2;
    width: 17px;   /* Задаем нужную ширину */
    height: 17px;  /* и высоту */
    cursor: pointer;
    background-color: $bluestyle;
    border-radius: 10px;

    span{
    	position: relative;
    	top: -20px;
    	left: -9px;

    	&:after{
    		content:'грн';
    		padding-left: 2px;
    	}
    }
}

.ui-slider .ui-slider-range {
    position: absolute;
    z-index: 1;
    font-size: .7em;
    display: block;
    border: 0;
    overflow: hidden;
}

.ui-slider-horizontal {
     height: 3px; 
}

.ui-slider-horizontal .ui-slider-handle { 
    top: -7px;
    margin-left: -6px;
}

.ui-slider-horizontal .ui-slider-range {
    top: 0;
    height: 100%;
}

.ui-slider-horizontal .ui-slider-range-min { 
    left: 0;
}

.ui-slider-horizontal .ui-slider-range-max {
    right: 0;
}

.ui-widget-content { 
    //border: 1px solid #D4D4D4;
    background: #e8e8e8;
    padding: 0 10px;
}

.ui-widget-header { 
    border: 1px solid #D4D4D4;
    background: #7c7c7c;

}

.ui-corner-all {
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    width: 85%;
    margin: 0 auto;

}



/* ===================================================== */
/* =====================RESPONSIVE============= */
/* =====================940======================= */

@media screen and (max-width: 1170px){
	/* =================list============== */
	.list{
		display: block;

		.title{
			padding-left: 8px;
		}

		&__desc{
			padding-left: 8px;
		}

		&__box{
			width: 100%;
		}

		&__btn-f{
			display: block;
			margin: 0 8px;
			margin-top: 15px;
			font-size: 14px;
			text-align: center;
			border: 2px solid #d24a43;
			color: #d24a43;
			border-radius: 3px;
			padding: 7px 0;

			span{
				&:after{
					content: url(../img/filter-ic.png);
					position: relative;
					top: 4px;
					padding-left: 7px;
				}
			}

			&:hover{
				background-color: #d24a43;
				color: #fff;
				span{
					&:after{
						content: url(../img/filter-ic-h.png);
					}
				}
			}
		}
	}

	/* =================filter============== */
	.filter{
		width: 300px;
		&__wrap{
		/* 	&:after{
				content: "";
				clear: both;
				display: block;
			} */
			position: relative;
		}

		&__click{
			display: block;
			width: 50%;
			position: fixed;
			left: 300px;
			top: 0;
			bottom: 0;
		}

		&__aside{
			width: 100%;
			display: block;
			position: fixed;
			left: 0;
			top: 0;
			transition: 0.5s;
			transform: translateX(-100%);
			z-index: 7;
			margin-right: auto;
			&--show{
				transform: translateX(0px);
			}

			.slimScrollBar{
				width: 5px !important;
				color: #000 !important;
				opacity: 0.3 !important;
				right: auto;
				left: 300px;
			}

			.ui-slider-horizontal{
				width: 75%;
			}
		}

		
	}
}

/* =============================744======================= */
@media screen and (max-width: 959px){
	/* =================list============== */
	.list{
		&__view{
			display: none;
		}

		&__box{
			.good-h{
				display: none;
			}
		}

		&__filt{
			width: 100%;
			display: -webkit-flex;
			display: flex;
			-webkit-box-pack: justify;
			-webkit-justify-content: space-between;
			justify-content: space-between;

			.list__switch--pdl{
				padding-right: 0;
			}
		}
	}
}

/* ===================================320=============================== */

@media screen and (max-width: 743px){
	.filter{

		&__click{
			left: 160px;
		}
	}

	.list{

		&__btn-f{
			margin: 0px 3px;
		}

		&__paginator{
			width: 80%;
			box-sizing: border-box;
			text-align: center;
		}

		&__head{
			padding: 0 10px;
		}

		&__switch{
			&--pdl{
				padding-left: 0;
				
			}
		}

		.title{
			padding-left: 0;
			text-align: center;
			padding-bottom: 20px;
		}

		&__desc{
			width: 100%;
			box-sizing: border-box;
			padding-right: 20px;
			padding-bottom: 25px;
		}
	}
}