
/* =================body================= */

$font-stack: 'ProximaNovaLight', sans-serif;
$primary-color: #5f5f5f;
$primary-fz: 12px;
$primary-l-heigth: 1.4;

	/* ==mob== */
$primary-fz-mob: 12px;
$primary-l-heigth-mob: 1.4;


/* ======================btn================= */

$btn-font-size: 20px;
$btn-color: #000;
$btn-color-h: #fff;
$btn-width: 100%;
$btn-radius: 10px;
$btn-pd: 15px 0;
$btn-bgc: #ffba14;
$btn-bgc-h: #53f2f0;
$btn-border: none;
$btn-text-transf: none;
	
	/* ==mob== */
$btn-pd-mob: 15px 0;
$btn-font-size-mob: 16px;

/* =================title================= */

$title-font-size: 30px;
$title-color: #5f5f5f;

	/* ==mob== */
$title-font-size-mob: 22px;

/* =================input================== */

$inputpadding: 10px;
$inputborder: none;
$inputradius: 2px;


/* ============================================ */

$lightgrey: #e8e8e8;
$bd: 1px solid #e8e8e8;
$bd2: 2px solid #e8e8e8;
$bluestyle: #7fabc6;