@import "variables";
@import "responsive_960";
@import "responsive_743";
/* ===================================320=============================== */



@media screen and (max-width: 743px){
	.container{
		max-width:  460px;
		padding: 0 20px;
	}

	html, body{
		font-size: $primary-fz-mob;
		line-height: $primary-l-heigth-mob;
	}

	.btn{
		padding: $btn-pd-mob;
		font-size: $btn-font-size-mob;
	}

	.title{
		font-size: $title-font-size-mob;
	}

/* ==========HEADER============ */
	header{
		
	}

	.header{

	}
	



/* ==========FOOTER============ */
	footer{

	}

	.footer{
			
	}

}	