@import "variables";


*{padding: 0; margin: 0; outline: none}
ul{list-style-type: none}
a{text-decoration: none; -webkit-transition: .35s;
-moz-transition: .35s;
-ms-transition: .35s;
-o-transition: .35s;
transition: .35s;}
button{
	-webkit-transition: .35s;
	-moz-transition: .35s;
	-ms-transition: .35s;
	-o-transition: .35s;
	transition: .35s;
}

html, body{
	font-family: $font-stack;
	font-size: $primary-fz;
	color: $primary-color;
	line-height: $primary-l-heigth;
}

a{
	color: $primary-color;
}

input{
	background: none;
	padding: $inputpadding;
	border: $inputborder;
	border-radius: $inputradius;
}


.container{
	width: 100%;
	max-width:  1200px;
	padding: 0 15px;
	box-sizing: border-box;
	margin: 0 auto;
	position: relative;
	&:after{
			content: "";
			clear: both;
			display: block;
		}
}

.btn{
	text-align: center;
	font-size: $btn-font-size;
	color: $btn-color;
	width: $btn-width;
	display: block;
	border-radius: $btn-radius;
	padding: $btn-pd;
	background-color: $btn-bgc;
	border: $btn-border;
	cursor: pointer;
	text-transform: $btn-text-transf;
	&:hover{
		background-color: $btn-bgc-h;
		color: $btn-color-h;
	}
}

.title{
	text-align: center;
	text-transform: uppercase;
	font-size: $title-font-size;
	color: $title-color;

}


/* ==========HEADER============ */
header{
	background-color: #f0f0f0;
}

.header{
	&-top{
		border-bottom: 1px solid #d6d6d6;


		&__phone{
			padding: 19px 0;
			width: 210px;
			text-align: center;
			border-right: 1px solid #d6d6d6;
			float: left;
			height: 53px;
			box-sizing: border-box;

			span{
				padding: 0 20px;
			}

			.img1{
				position: relative;
				top: 2px;
			}

		}

		&__time{
			float: left;
			padding: 20px 0;
			padding-left: 30px;
			height: 53px;
			box-sizing: border-box;

			.img1{
				padding-right: 20px;
				position: relative;
				top: 2px;
			}
			span{
				padding-right: 18px;
			}
		}

		&__nav{
			float: left;
			height: 53px;
			box-sizing: border-box;
		}
	}

	padding-top: 22px;

	&__logo{
		float: left;
	}
}

.nav{
	text-transform: uppercase;
	padding: 20px 0;
	border-right: 1px solid #d6d6d6;
	padding-right: 10px;


	&__item{
		padding: 0 8px;
		display: inline-block;
	}

	&__list{
		margin-left: -10px;
	}

	&__link{

		&:hover{
			font-weight: bold;
		}
	}
}

.main-search{
	background-color: #FFF;
	width: 65%;
	float: left;
	margin: 0 30px;
	height: 55px;

	&__sel{
		display: inline-block;
		width: 125px;
	}
}

.jq-selectbox{

	&__select{
		background-image: none;
		border: none;
		box-shadow: none;
		height: 55px;
		padding-right: 35px;

		&-text{
			overflow: visible;
			white-space: normal;
			width: 70px !important;
			height: 100%;
			line-height: 56px;
			text-transform: uppercase;
			font-weight: bold;
			font-size: 12px;
		}
	}

	&__trigger{
		border: none;
	}

	&__trigger-arrow{
		display: none;
	}

	&__trigger{
		background-image: url("../img/list-arr.png");
		background-position: center;
		background-repeat: no-repeat;
	}
}
	



/* ==========FOOTER============ */
footer{

}

.footer{
			
}

